/* Các quy tắc CSS cho header */

.login-form {
  max-width: 34%;
  margin: 0 auto; /* Center the form horizontally */
  margin-top: 100px; /* Adjust as needed */
}

.list-unstyled {
  text-decoration: none !important;
}